{% extends "base.html" %}
{% load static %}

{% block title %}
    BMI Calculator
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block content %}
<section id="latest-posts">
    <h2>BMI Calculator</h2>

    <ul>
        <li>
            <article class="post">
                <form method="post" action="{% url 'calculate_bmi' %}">
                    {% csrf_token %}
                    <div class="calcfont">
                        <br>
                        <label for="weight">Weight (kg):</label>
                        <br>
                        <div class="slider" id="weight-slider">
                            <br>
                            <div style="text-align: center; font-weight: 700; font-size: large;">
                                <span id="weightRangeValue">{{ weightMidpoint }}</span> kg
                            </div>
                            <input type="range" name="weight" id="weight" min="45" max="200" step="0.5"
                                   oninput="weightRangeValue.innerText = this.value;">
                            <br>
                        </div>
                        <br>
                        <label for="height">Height (cm):</label>
                        <br>
                        <div class="slider" id="height-slider">
                            <br>
                            <div style="text-align: center; font-weight: 700; font-size: large;">
                                <span id="heightRangeValue">{{ heightMidpoint }}</span> cm
                            </div>
                            <input type="range" name="height" id="height" min="1" max="251" step="0.5"
                                   oninput="heightRangeValue.innerText = this.value;">
                            <br>
                        </div>
                        <br>
                        <input type="submit" value="Click here to check BMI">
                    </div>
                </form>
            </article>
        </li>
    </ul>
</section>
{% endblock %}
