@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', 'Lato', sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #fdfcfc;
  font-size: 0.75rem;
}


#main-navigation {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  z-index: 999;
}

#main-navigation a {
  text-decoration: none;
  color: #111111;
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
}

.logo-search-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 320px;
  margin-top: 10px;
}

.search-form {
  margin-left: 10px;
  margin-top: 10px;
}

.search-container input[type="text"] {
  padding: 5px;
  height: 2rem;
}

.search-container button {
  padding: 5px 10px;
  height: 2.5rem;
}

#main-navigation a:hover,
#main-navigation a:active {
  color: #4f4f4f;
}

#main-navigation .logo a:hover,
#main-navigation .logo a:active {
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding-left: 25px;
}

.content {
  margin-top: 5rem;
}



#about {
  text-align: center;
  padding: 0rem;
  background-color: #565656;
}

#about h1 {
  font-size: 1.5rem;
  color: #fdfcfc;
}

#about p {
  font-size: 0.75rem;
  color: #fdfcfc;
  padding-top: 20px;
}

.team-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0px;
}



.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.team-members {
  display: flex;
  justify-content: center;
}
.team-members div {
  margin-right: 20px;
  margin-top: -12px;
}

.team h1 {
  text-align: center;
}

.special-thanks {
  text-align: center;
  margin-top: 20px;
}
a {
  text-decoration: none;
  color: black;
}
.team img {
    transform: scale(0.5);
}

.team-container .team img {
    margin-right: auto;
    margin-left: 0;
    padding: 0px;
}

.team-members img {
    width: 100px;
    height: auto;

}

.team-members img:hover {
    opacity: 0.5;
}

.footer {
    background-color: #565656;
    clear: both;
    color: white;
    text-align: center;
    padding: 0px;
    font-size: 9px;
}
.team-members p {
  margin-bottom: -25px;
}
