#welcome {
  background-image: url("../static/images/bieg.jpg");
  background-size: cover;
  background-position: center;
  padding: 6rem 12%;
}

#welcome header {
  display: flex;
  align-items: flex-start;
  margin: 3rem auto;
  height: 50px;
}

#welcome img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position: top;
  border: 5px solid white;
  border-radius: 12px;
  background-color: #ffe1bf;
  transform: rotateZ(-5deg);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#welcome h2 {
  font-size: 3.5rem;
  margin: 0 0 0 2rem;
  color: #e4e4e4;
  width: 10rem;
}

#welcome p {
  color: black;
  font-size: 1.5rem;
  text-align: center;
}

#latest-posts {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  width: 60rem;
  margin: -6rem auto 2rem auto;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
}
#latest-posts:hover {
  background-color: lightgray;
}


#latest-posts h2 {
  text-align: center;
}

#latest-posts ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

#latest-posts li {
  flex: 1;
}

#about {
  text-align: center;
  padding: 3rem;
  background-color: #e48900;
  margin-top: 5rem;
}

#about h2 {
  font-size: 3rem;
}

#about p {
  font-size: 1.5rem;
  color: #353535;
}


.post {
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.post h1 {
  color: #000;
}

.post p {
  color: #000;
}

.post.normal h1 {
  color: #118c4e;
}

.post.normal p {
  color: #118c4e;
}

.post.underweight h1 {
  color: #c0392b;
}

.post.underweight p {
  color: #c0392b;
}

.post.overweight h1 {
  color: #c0392b;
}

.post.overweight p {
  color: #c0392b;
}

.post.obese h1 {
  color: #c0392b;
}

.post.obese p {
  color: #c0392b;
}

#weight-slider:hover {
  transform: scale(1.5);
}

#height-slider:hover {
  transform: scale(1.5);
}




