#welcome {
  background-image: url("../static/images/bieg.jpg");
  background-size: cover;
  background-position: center;
  padding: 1px 20px 100px 150px;
}

#welcome header {
  display: flex;
  align-items: flex-start;
  margin: 8rem auto;
  height: 50px;
}

#welcome img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position: top;
  border: 5px solid white;
  border-radius: 12px;
  background-color: #ffe1bf;
  transform: rotateZ(-5deg);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  position: relative;
  top: 0rem;
  left: 0%;
}

@media (min-width: 768px) {
  #welcome img {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: -50px;
  }
}

#welcome h2 {
  font-size: 3.5rem;
  margin: 0 0 0 2rem;
  color: #e4e4e4;
  width: 10rem;
}

#welcome p {
  color: black;
  font-size: 1.5rem;
  text-align: center;
  margin: -5rem auto 0 auto;
  max-width: 600px;
  padding: 0 20px;
}

@media (min-width: 768px) {
  #welcome p {
    margin-left: 4cm;
    margin-bottom: 20px;
    margin-top: -150px;
  }
}

#latest-posts {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  max-width: 60rem;
  width: 100%;
  margin: -6rem auto 2rem auto;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

@media (min-width: 768px) {
  #latest-posts {
    width: 40rem;
    margin-top: -6rem;
    margin-bottom: 2rem;
    padding: 2rem 4rem;
  }
}

#latest-posts:hover {
  background-color: lightgray;
}

#latest-posts h2 {
  text-align: center;
  color: #111111;
  font-size: 1.5rem;
}

#latest-posts ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

#latest-posts li {
  flex: 1;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.post h1 {
  color: #000;
}

.post p {
  color: #000;
}

.post.normal h1 {
  color: #118c4e;
}

.post.normal p {
  color: #118c4e;
}

.post.underweight h1 {
  color: #c0392b;
}

.post.underweight p {
  color: #c0392b;
}

.post.overweight h1 {
  color: #c0392b;
}

.post.overweight p {
  color: #c0392b;
}

.post.obese h1 {
  color: #c0392b;
}

.post.obese p {
  color: #c0392b;
}

#weight-slider:hover {
  transform: scale(1.5);
}

#height-slider:hover {
  transform: scale(1.5);
}

#weight-slider input[type="range"] {
  width: 100%;
}

#height-slider input[type="range"] {
  width: 100%;
}

.slider:hover {
  transform: scale(1.5);
}

.slider input[type="range"] {
  width: 100%;
}

.calcfont {
  font-size: 20px;
  font-family: Arial;
}

input[type="submit"] {
  font-size: 18pt;
  font-family: Arial;
  background: #368bff;
  color: #ffffff;
}

input[type="submit"]:hover {
  background: #111111;
}
