.desccol {
  background-color: #f8f8f8;
  padding: 2rem;
  border-radius: 12px;
  width: 60rem;
  margin: 2rem auto;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
  color: #000;
}

.desccol h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.desccol p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.desccol h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.desccol p.description {
  font-size: 1.5rem;
}

/* Kolor dla Normal weight */
.desccol.normal {
  background-color: #118c4e;
  color: #fff;
}

/* Stopniowa zmiana koloru dla pozostałych kategorii */
.desccol.underweight {
  background-color: #f8f8f8;
  color: #c0392b;
}

.desccol.overweight {
  background-color: #f8f8f8;
  color: #c0392b;
}

.desccol.obese {
  background-color: #f8f8f8;
  color: #c0392b;
}